<mat-card>
    <mat-card-header>
      <mat-card-title>
        Course Outline
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list >
        <mat-list-item *ngFor="let lesson of courseLessons"
                       (click)="selectLesson(lesson)">
          <h3>{{lesson.title}}</h3>
        </mat-list-item>
      </mat-list>
<!--      <h3>{{title}}</h3>-->
<!--    <pre>{{courseLessons | json}}</pre>-->
      <!-- LESSON LIST -->
    {{themecolor}}
      <hr>
      <span [style.color]="themecolor">Some colored text!</span>
      <hr>
      <mat-form-field class="example-full-width">
        <mat-label>Theme Color</mat-label>
        <input matInput [(ngModel)]="themecolor">
      </mat-form-field>
      <button mat-button (mouseover)="updateColor()">Update</button>


    </mat-card-content>
  </mat-card>
<mat-card>
  Hello Piyumal
</mat-card>
<mat-card>
  <mat-card-header>Current Selected Lesson</mat-card-header>
  <hr>
  <span *ngIf="currentLesson; else elseBlock">{{currentLesson|json}}</span>
  <ng-template #elseBlock>Please select a lesson</ng-template>
  <hr>
</mat-card>



